/* You'll probably want to add some styles here */

@import url(https://fonts.googleapis.com/css?family=Raleway:300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300);

body {
	border-radius: 5px;
}

h1, h4 {
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;      
	font-weight: 500;
	font-style: bold;
	text-align: center;
	color: black;
	padding-left: 20%;
	padding-right: 20%;
}

h4 {
	font-size: 14px;
}

p {
	font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;      
	font-weight: 100;
	font-style: italic;
	text-align: center;
	color: black;
}

thead {
	background-color: #dbdce3;
}

#alignmentM {
	text-align: center;
}
#alignmentF {
	text-align: center;
}

#hoverTable {
	margin-top: 50px;
}

#hyperlink {
	text-decoration: none;
	color: #3366FF;
}

#map {
	margin-top: 25px;
	height:500px;
}
